# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

In [34]:
SELECT TOP 5 Base_Name, RIGHT(Base_Name, 3) AS 'Name'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY Base_Name;

Base_Name,Name
"12TH STREET LUXURY CARS, INC.",NC.
"12TH STREET LUXURY CARS, INC.",NC.
"12TH STREET LUXURY CARS, INC.",NC.
"12TH STREET LUXURY CARS, INC.",NC.
"12TH STREET LUXURY CARS, INC.",NC.

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

In [35]:
SELECT 
    TOP 5 
    CHARINDEX(' ', [Number_of_Trips]) AS 'Space in # of Trips', 
    CHARINDEX(' ',[Number_of_Vehicles]) AS 'Space in # of Vehicles'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

Space in # of Trips,Space in # of Vehicles
3,3
3,3
4,3
3,2
4,3

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

In [36]:
SELECT TOP 5 DATENAME(month, Pick_Up_Date) AS 'Pick Up Month Desc.'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY Pick_Up_Date DESC;

Pick Up Month Desc.
August
August
August
August
August

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [37]:
SELECT 
    TOP 5 
    DATENAME(day, Pick_Up_Date) AS 'Day of Pickup' , 
    DATENAME(month, Pick_Up_Date) AS 'Month of PickUp'
FROM 
    RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY 
    Pick_Up_Date;

Day of Pickup,Month of PickUp
1,January
1,January
1,January
1,January
1,January

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [38]:
-- Preview Lyft Table
SELECT 
    TOP 5 *
FROM RideShareDB.dbo.lyft;

time_of_trip,start_lat,start_lng
2014-09-04 09:51:00.0000000,40.64705,-73.77988
2014-08-27 21:13:00.0000000,40.74916,-73.98373
2014-09-04 14:16:00.0000000,40.64065,-73.97594
2014-09-04 16:08:00.0000000,40.75002,-73.99514
2014-08-28 02:41:00.0000000,40.76715,-73.98636

In [39]:
SELECT 
    MAX(start_lat) AS 'Most Eastern Pickup'
FROM RideShareDB.dbo.lyft;

Most Eastern Pickup
40.93562

Write a query the returns the most northerly Lyft pickup.

In [40]:
SELECT MAX(start_lng) AS 'Most Northern Pickup'
FROM  RideShareDB.dbo.lyft;

Most Northern Pickup
-73.72315

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [41]:
SELECT 
    TOP 5
    CONCAT_WS(':', [Base_Number], [Base_Name]) AS 'Base Number : Base Name'
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;

Base Number : Base Name
B00013:LOVE CORP CAR INC
B00014:NY ONE CORP CAR INC
B00029:COMMUNITY CAR SVC CORP
B00053:CHARGE AND RIDE INC
B00095:LIBERTY CAR SERVICE INC.